<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="root" id="root">
    <input type="text" v-model="username">

    <p class="show" v-show="show">show</p>

    <p class="key" :data-user="user" :key="username">key</p>

    <div v-for="(item, index) of users" :key="item.id">
      <p class="list-item">{{item.name}} - {{item.index}}</p>
    </div>

    <p class="once" v-once>{{ username | toUpperCase }} --- </p>

    <p class="text" v-text="username" @click.passive="onToggle"></p>

    <el-input-hoc v-model="username" />

    <el-input v-model="username" />

  </div>
  
  <!-- cdn -->
  <script src="./cdn/vue.js"></script>

  <!-- element-ui -->
  <script crossorigin="anonymous" integrity="sha512-1C6Z64XO+zELpGz0pf2VFPaATU+pXzEheLC1RyPbYJUJCEZbJXzXFg4qZ+VrGyhVutouZ/VsmS9T+tUgu3pz9g==" src="https://lib.baomitu.com/element-ui/2.15.7/index.js"></script>

  <script>
    function HOC (BaseComponent) {
      return ({
        ...BaseComponent,
  
        name: 'ComponentHOC',
  
        props: BaseComponent.props,
  
        render (h) {
          return h(BaseComponent, {
            // slots: BaseComponent.
            on: BaseComponent.$listeners, 
            attrs: BaseComponent.$attrs, 
            props: BaseComponent.$props, 
            refs: BaseComponent.$refs, 
            slots: BaseComponent.$slots, 
            scopedSlots: BaseComponent.$scopedSlots
          })
        }
      })
    }

    const ElInputHOC = HOC(ELEMENT.Input)
    console.log(ElInputHOC)

  </script>

  <script>
    const init = () => {
      const app = new Vue({
        name: 'Root',

        el: '#root',

        filters: {
          toUpperCase (val) {
            return val.slice(0, 1).toUpperCase(0) + val.slice(1)
          }
        },

        provide: {
          name: this
        },

        components: {
          'el-input-hoc': ElInputHOC
        },

        data () {
          return {
            username: 'lee',
            user: {
              name: 'Wamg',
              age: 19
            },
            show: false,
            users: [
              {
                id: 1,
                name: 'Zhang'
              },
              {
                id: 2,
                name: 'Liu'
              }
            ]
          }
        },

        mounted () {
          console.log('Mounted')
        },

        methods: {
          say () {},

          onCreated () {},

          onToggle () {
            this._provide.name = this._provide.name + '????'
            console.log(this)
          }
        }
      })

      window._app = app
    }
  </script>

  <script>
    window.addEventListener('load', init)
  </script>
</body>
</html>